        



        <footer>
            <div class="footer-container">
                <ul>
                    <li>By Molly</li>
                    <li>Vs Code</li>
                    <li>Java Script</li>
                    <li>Copyright ©<%= new Date().getFullYear();%></li>
                </ul>
            </div>
        </footer>

        <%- include('../partials/scripts.ejs') %>
        
</html>